@import "../extends.scss";
.game {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  align-items: center;
  background-color: white;
  height: calc(100vh - 50px);
  min-height: 520px;
}

.game_board{
    margin: 0 auto;
    background-color: white;
}

.game_title{
  height: 70px;
  display: flex;
  align-items: center;
}
