
%font-stack-Arial {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
}
$colorGreen__prime: #2aca87;
$colorGreen__dark: #25ac74;
$colorGreen__light: rgba(42, 202, 135, 0.5);
$colorGray__light: rgb(240, 240, 240);
$colorGray__dark: rgb(150, 150, 150)