.square {
    background: #fff;
    border: 1px solid #999;
    height: 100px;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
  }
  .square__increasedFontSize{
    font-size: 2rem;
    transition: font-size 2s;
  }
  .square:focus {
    outline: none;
  }